<div class="jumbotron">

  <p class="lead">
  </p>

			<div class="container">
				<h2>OPower</h2>
				<div class="row">
					<div class="cols12">
						<div ng-controller="personCrawler">
							<div class="row">
								<div class="col s4">
									<label for="filter">Search by user identifier </label>
									<input name="id" ng-model="person.id" placeholder="Enter person identifier" ng-change="updateSelectSection()" />
								</div>
								<div class="col s4">
									<label for="filter">Search by firstname </label>
									<input name="filter" ng-model="person.firstname" ng-change="updateSelectSection()" />
								</div>
								<div class="col s4">
									<label for="filter">Select the person </label>
									<select name="personSelect" id="personSelect" ng-model="person.id" ng-change="updatePersonSelection(person.id)">
										<option style="display:none" value="">Select a person</option>
										<option ng-repeat="person in persons | filter:person.firstname | orderBy:'firstname':false" ng-class="{reverse: reverse}" value="{{person.id}}">({{person.id}}) {{person.firstname}} {{person.surname}}</option>
									</select>
								</div>
							</div>
							<h4>Search results</h4>
							
							<p>Here you will see the results of your search</p>
							<div class="row">
								<div id="col s3" class="collection-bag" style="display:none">
									<span>You have selected {{singlePerson.personName}}</span>
									<ul class="collection">
										<li class="collection-item avatar">
											<span class="title">Identifier</span>
											<p>{{singlePerson.personIdentifier}} <br>
											</p>
											<a href="#!" class="secondary-content"></a>
										</li>
										<li class="collection-item avatar">
											<span class="title">Firstname</span>
											<p>{{singlePerson.personFirstName}} <br>
											</p>
											<a href="#!" class="secondary-content"></a>
										</li>
										<li class="collection-item avatar">
											<span class="title">Lastname</span>
											<p>{{singlePerson.personLastName}} <br>
											</p>
											<a href="#!" class="secondary-content"></a>
										</li>
										<li class="collection-item avatar">
											<span class="title">Email</span>
											<p>{{singlePerson.personEmail}} <br>
											</p>
											<a href="#!" class="secondary-content"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


</div>

<div class="row marketing">

</div>